/* Override some aspects of the pydata-sphinx-theme */

:root {
  /* Use softer blue from bootstrap's default info color */
  --pst-color-info: 23, 162, 184;
}

/* Main index page overview cards */

.intro-card {
  padding: 30px 10px 20px 10px;
}

.intro-card .sd-card-img-top {
  margin: 10px;
  height: 52px;
}

.intro-card .sd-card-title {
  color: rgb(var(--pst-color-h1)) !important;
  font-size: var(--pst-font-size-h5);
  padding: 1rem 0rem 0.5rem 0rem;
}

.intro-card .sd-card-footer {
  border: none;
}

.intro-card .sd-card-footer p.sd-card-text{
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}
