# github
.github/                          @https://github.com/mroeschke

# ci
ci/                               @https://github.com/mroeschke

# web
web/                              @https://github.com/datapythonista

# docs
doc/cheatsheet                    @https://github.com/Dr-Irv
doc/source/development            @https://github.com/noatamir

# pandas
pandas/_libs/                     @https://github.com/WillAyd
pandas/_libs/tslibs/*             @https://github.com/MarcoGorelli
pandas/_typing.py                 @https://github.com/Dr-Irv
pandas/core/groupby/*             @https://github.com/rhshadrach
pandas/core/tools/datetimes.py    @https://github.com/MarcoGorelli
pandas/io/excel/*                 @https://github.com/rhshadrach
pandas/io/formats/style.py        @https://github.com/attack68
pandas/io/formats/style_render.py @https://github.com/attack68
pandas/io/formats/templates       @https://github.com/attack68

