*.pyc
*.pyo
*.swp
build
dist
MANIFEST
*.c
!np_datetime.c
!np_datetime_strings.c
!skts.c
*.cpp
*.so
*.pyd
pandas/version.py
doc/source/generated
doc/source/_static
doc/source/vbench
doc/source/vbench.rst
*flymake*
scikits
.coverage
pandas.egg-info
