*.pyc
*.pyo
*.swp
build
dist
MANIFEST
*.c
!np_datetime.c
!np_datetime_strings.c
!skts.c
*.cpp
*.so
*.pyd
*.h5
pandas/version.py
doc/source/generated
doc/source/_static
doc/source/vbench
doc/source/vbench.rst
doc/build/html/index.html
*flymake*
scikits
.coverage
pandas.egg-info
*\#*\#
.tox
pandas/io/*.dat
pandas/io/*.json
*.log