repos:
-   repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
    -   id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-comprehensions>=3.1.0]
    -   id: flake8
        name: flake8-pyx
        files: \.(pyx|pxd)$
        types:
          - file
        args: [--append-config=flake8/cython.cfg]
    -   id: flake8
        name: flake8-pxd
        files: \.pxi\.in$
        types:
          - file
        args: [--append-config=flake8/cython-template.cfg]
-   repo: https://github.com/PyCQA/isort
    rev: 5.2.2
    hooks:
    -   id: isort
        exclude: ^pandas/__init__\.py$|^pandas/core/api\.py$
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
