# Local development dependencies including docs building, website upload, ASV benchmark
name: pandas-dev
channels:
  - conda-forge
dependencies:
  - python=3.8
  - pip

  # build dependencies
  - versioneer[toml]
  - cython=0.29.33

  # test dependencies
  - pytest>=7.0.0
  - pytest-cov
  - pytest-xdist>=2.2.0
  - pytest-asyncio>=0.17.0
  - coverage

  # required dependencies
  - python-dateutil
  - numpy
  - pytz

  # optional dependencies
  - beautifulsoup4>=4.9.3
  - blosc
  - brotlipy>=0.7.0
  - bottleneck>=1.3.2
  - fastparquet>=0.6.3
  - fsspec>=2021.07.0
  - html5lib>=1.1
  - hypothesis>=6.34.2
  - gcsfs>=2021.07.0
  - ipython
  - jinja2>=3.0.0
  - lxml>=4.6.3
  - matplotlib>=3.6.1, <3.7.0
  - numba>=0.53.1
  - numexpr>=2.7.3  # pin for "Run checks on imported code" job
  - openpyxl<3.1.1, >=3.0.7
  - odfpy>=1.4.1
  - py
  - psycopg2>=2.8.6
  - pyarrow
  - pymysql>=1.0.2
  - pyreadstat>=1.1.2
  - pytables>=3.6.1
  - python-snappy>=0.6.0
  - pyxlsb>=1.0.8
  - s3fs>=2021.08.0
  - scipy>=1.7.1
  - sqlalchemy>=1.4.16
  - tabulate>=0.8.9
  - tzdata>=2022a
  - xarray>=0.21.0
  - xlrd>=2.0.1
  - xlsxwriter>=1.4.3
  - zstandard>=0.15.2

  # downstream packages
  - dask-core
  - seaborn-base

  # local testing dependencies
  - moto
  - flask

  # benchmarks
  - asv>=0.5.1

  # The compiler packages are meta-packages and install the correct compiler (activation) packages on the respective platforms.
  - c-compiler
  - cxx-compiler

  # code checks
  - black=23.1.0
  - cpplint
  - flake8=6.0.0
  - isort>=5.2.1  # check that imports are in the right order
  - mypy=1.0
  - pre-commit>=2.15.0
  - pyupgrade
  - ruff=0.0.215

  # documentation
  - gitpython  # obtain contributors from git for whatsnew
  - gitdb
  - natsort  # DataFrame.sort_values doctest
  - numpydoc
  - pydata-sphinx-theme<0.11
  - pytest-cython  # doctest
  - sphinx
  - sphinx-panels
  - sphinx-copybutton
  - types-python-dateutil
  - types-PyMySQL
  - types-pytz
  - types-PyYAML
  - types-setuptools

  # documentation (jupyter notebooks)
  - nbconvert>=6.4.5
  - nbsphinx
  - pandoc
  - ipywidgets
  - nbformat
  - notebook>=6.0.3
  - ipykernel

  # web
  - jinja2  # in optional dependencies, but documented here as needed
  - markdown
  - feedparser
  - pyyaml
  - requests
  - pygments # Code highlighting

  - pip:
      - sphinx-toggleprompt
      - typing_extensions; python_version<"3.11"
