include MANIFEST.in
include LICENSE
include RELEASE.rst
include README.rst
include TODO.rst
include setup.py
include setupegg.py
# include examples/data/*
recursive-include examples *.py
# recursive-include doc/source *
# recursive-include doc/sphinxext *
