include MANIFEST.in
include LICENSE
include RELEASE.rst
include README.rst
include TODO.rst
include setup.py
include setupegg.py

graft doc
prune doc/build

graft examples
graft pandas

global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
global-exclude .git*
global-exclude .DS_Store
global-exclude *.png

# include examples/data/*
# recursive-include examples *.py
# recursive-include doc/source *
# recursive-include doc/sphinxext *
