attrs==22.1.0
Cython==0.29.32
iniconfig==1.1.1
numpy==1.23.3
packaging==21.3
pip==22.2.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.3
pytest-asyncio==0.19.0
python-dateutil==2.8.2
pytz==2022.2.1
setuptools==65.4.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.3.0
wheel==0.37.1
black==22.3.0
cpplint
flake8==5.0.4
flake8-bugbear
isort
mypy
pre-commit
pycodestyle
pyupgrade

