# Cannot define these sections in pyproject.toml yet due to
# https://github.com/prefix-dev/pixi/issues/1801
[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64", "osx-64", "osx-arm64", "win-64"]
name = "pandas"

[dependencies]
# Build dependencies
versioneer = ">=0.29"
cython = ">3.1.0,<4.0.0a0"
meson = ">=1.10.1,<2"
meson-python = ">=0.19.0,<1"
c-compiler = "*"
cxx-compiler = "*"
pip = ">=26"

# Required dependencies
python-dateutil = ">=2.8.2"
numpy = ">=1.26.0,<3"

[target.win.dependencies]
tzdata = ">=2023.3"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py314.dependencies]
python = "3.14.*"

[feature.freethreading.dependencies]
python-freethreading = "3.13.*"

[feature.test-base.dependencies]
pytest = ">=8.3.4"
pytest-xdist = ">=3.6.1"
hypothesis = ">=6.116.0"

[feature.pytest-cov-conda.dependencies]
pytest-cov = ">=7.0.0"

[feature.pytest-cov-pypi.pypi-dependencies]
# No free-threaded coveragepy (with the C-extension) on conda-forge yet
pytest-cov = ">=7.0.0"

[feature.test-network.dependencies]
pytest-localserver = ">=0.9.0"
# TODO: Try changing to boto3 = "*"
boto3 = "==1.37.3"

[feature.test-clipboard.dependencies]
pytest-qt = ">=4.4.0"
pyqt = ">=5.15.9"
qtpy = ">=2.4.2"

[feature.pyarrow.dependencies]
pyarrow = ">=13.0.0"

[feature.optional-dependencies.dependencies]
adbc-driver-postgresql = ">=1.2.0"
adbc-driver-sqlite = ">=1.2.0"
beautifulsoup4 = ">=4.12.3"
blosc = ">=1.21.3"
bottleneck = ">=1.4.2"
fastparquet = ">=2024.11.0"
fsspec = ">=2024.10.0"
html5lib = ">=1.1"
gcsfs = ">=2024.10.0"
jinja2 = ">=3.1.5"
lxml = ">=5.3.0"
matplotlib = ">=3.9.3"
numba = ">=0.60.0"
numexpr = ">=2.10.2"
odfpy = ">=1.4.1"
openpyxl = ">=3.1.5"
psycopg2 = ">=2.9.10"
pyiceberg = ">=0.8.1"
pymysql = ">=1.1.1"
pyreadstat = ">=1.2.8"
pytables = ">=3.10.1"
python-calamine = ">=0.3.0"
pytz = ">=2024.2"
pyxlsb = ">=1.0.10"
s3fs = ">=2024.10.0"
scipy = ">=1.14.1"
sqlalchemy = ">=2.0.36"
tabulate = ">=0.9.0"
xarray = ">=2024.10.0"
xlrd = ">=2.0.1"
xlsxwriter = ">=3.2.0"
zstandard = ">=0.23.0"

[feature.minimum-versions]
solve-strategy = "lowest-direct"

[feature.numpy-nightly.pypi-options]
extra-index-urls = ["https://pypi.anaconda.org/scientific-python-nightly-wheels/simple"]

[feature.numpy-nightly.pypi-dependencies]
numpy = { version = "*", index = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" }

[feature.pyarrow-nightly.pypi-options]
extra-index-urls = ["https://pypi.anaconda.org/scientific-python-nightly-wheels/simple"]

[feature.pyarrow-nightly.pypi-dependencies]
pyarrow = { version = "*", index = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" }

[feature.downstream.dependencies]
cftime = "*"
dask = "*"
seaborn = "*"
scikit-learn = "*"
statsmodels = "*"
pandas-datareader = "*"
pyyaml = "*"
xarray = ">=2024.10.0"

[environments]
py311 = { features = ["py311", "test-base", "pytest-cov-conda", "test-clipboard", "test-network", "pyarrow", "optional-dependencies"] }
py312 = { features = ["py312", "test-base", "pytest-cov-conda", "test-clipboard", "test-network", "pyarrow", "optional-dependencies"] }
py313 = { features = ["py313", "test-base", "pytest-cov-conda", "test-clipboard", "test-network", "pyarrow", "optional-dependencies"] }
py314 = { features = ["py314", "test-base", "pytest-cov-conda", "test-clipboard", "test-network", "pyarrow", "optional-dependencies"] }
no-pyarrow = { features = ["py313", "test-base", "pytest-cov-conda", "test-clipboard", "test-network", "optional-dependencies"] }
minimum-versions = { features = ["py311", "test-base", "pytest-cov-conda", "test-clipboard", "test-network", "pyarrow", "optional-dependencies", "minimum-versions"] }
freethreading = { features = ["freethreading", "test-base", "pytest-cov-pypi"] }
numpy-nightly = { features = ["py313", "test-base", "pytest-cov-conda", "numpy-nightly"] }
pyarrow-nightly = { features = ["py313", "test-base", "pytest-cov-conda", "pyarrow-nightly"] }
downstream = { features = ["py313", "test-base", "pytest-cov-conda", "downstream"] }
