[project]
	description = Flexible and powerful data analysis / manipulation library for Python, providing labeled data structures similar to R data.frame objects, statistical functions, and much more
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wes McKinney (wesm)
[access "refs/for/refs/*"]
	read = group user/Wes McKinney (wesm)
	push = group user/Wes McKinney (wesm)
	label-Code-Review = -2..+2 group user/Wes McKinney (wesm)
	label-Verified = -1..+1 group user/Wes McKinney (wesm)
	rebase = group user/Wes McKinney (wesm)
	removeReviewer = group user/Wes McKinney (wesm)
	submit = group user/Wes McKinney (wesm)
[access "refs/heads/*"]
	read = group user/Wes McKinney (wesm)
	create = group user/Wes McKinney (wesm)
	push = +force group user/Wes McKinney (wesm)
	pushMerge = group user/Wes McKinney (wesm)
[access "refs/tags/*"]
	push = +force group user/Wes McKinney (wesm)
	pushTag = group user/Wes McKinney (wesm)
	pushSignedTag = group user/Wes McKinney (wesm)
