<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-27880019-2']); _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <title>pandas - Python Data Analysis Library</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='shortcut icon' type='image/x-icon' href='{{ base_url }}/static/img/favicon.ico'/>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        {% for stylesheet in static.css %}
            <link rel="stylesheet"
                  href="{{ base_url }}{{ stylesheet }}">
        {% endfor %}
        <script src="https://kit.fontawesome.com/79e5369384.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    {% if static.logo %}<a class="navbar-brand" href="{{ base_url }}/"><img alt="" src="{{ base_url }}{{ static.logo }}"/></a>{% endif %}

                    <div class="collapse navbar-collapse" id="nav-content">   
                        <ul class="navbar-nav ml-auto">
                            {% for item in navbar %}
                                {% if not item.has_subitems %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% if not item.target.startswith("http") %}{{ base_url }}{% endif %}{{ item.target }}">{{ item.name }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           id="{{ item.slug }}"
                                           href="#"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">{{ item.name }}</a>
                                        <div class="dropdown-menu" aria-labelledby="{{ item.slug }}">
                                        {% for subitem in item.target %}
                                            <a class="dropdown-item" href="{% if not subitem.target.startswith("http") %}{{ base_url }}{% endif %}{{ subitem.target }}">{{ subitem.name }}</a>
                                        {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer class="container pt-4 pt-md-5 border-top">
            <ul class="list-inline social-buttons float-right">
                <li class="list-inline-item">
                    <a href="https://twitter.com/pandas_dev/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/pandas-dev/pandas/">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://stackoverflow.com/questions/tagged/pandas">
                        <i class="fab fa-stack-overflow"></i>
                    </a>
                </li>
            </ul>
            <p>
                pandas is a fiscally sponsored project of <a href="https://numfocus.org">NumFOCUS</a>
            </p>
        </footer>
                
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </body>
</html>
