interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.cityofchicago.org/api/views/8pix-ypme/rows.xml?accessType=DOWNLOAD
  response:
    body:
      string: <response><row><row _id="row-7tw2-sps8.5wzi" _uuid="00000000-0000-0000-1487-D8F7C3A39A3E"
        _position="0" _address="https://data.cityofchicago.org/resource/_8pix-ypme/row-7tw2-sps8.5wzi"><stop_id>30162</stop_id><direction_id>W</direction_id><stop_name>18th
        (54th/Cermak-bound)</stop_name><station_name>18th</station_name><station_descriptive_name>18th
        (Pink Line)</station_descriptive_name><map_id>40830</map_id><ada>true</ada><red>false</red><blue>false</blue><g>false</g><brn>false</brn><p>false</p><pexp>false</pexp><y>false</y><pnk>true</pnk><o>false</o><location
        latitude="41.857908" longitude="-87.669147"/></row><row _id="row-c7ve-n4xu.ibn7"
        _uuid="00000000-0000-0000-3716-4171529172C3" _position="0" _address="https://data.cityofchicago.org/resource/_8pix-ypme/row-c7ve-n4xu.ibn7"><stop_id>30161</stop_id><direction_id>E</direction_id><stop_name>18th
        (Loop-bound)</stop_name><station_name>18th</station_name><station_descriptive_name>18th
        (Pink Line)</station_descriptive_name><map_id>40830</map_[...]
[...]
