interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.w3schools.com/xml/cdcatalog_with_xsl.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<?xml-stylesheet type=\"text/xsl\"
        href=\"cdcatalog.xsl\"?>\r\n<catalog>\r\n  <cd>\r\n    <title>Empire Burlesque</title>\r\n
        \   <artist>Bob Dylan</artist>\r\n    <country>USA</country>\r\n    <company>Columbia</company>\r\n
        \   <price>10.90</price>\r\n    <year>1985</year>\r\n  </cd>\r\n  <cd>\r\n
        \   <title>Hide your heart</title>\r\n    <artist>Bonnie Tyler</artist>\r\n
        \   <country>UK</country>\r\n    <company>CBS Records</company>\r\n    <price>9.90</price>\r\n
        \   <year>1988</year>\r\n  </cd>\r\n  <cd>\r\n    <title>Greatest Hits</title>\r\n
        \   <artist>Dolly Parton</artist>\r\n    <country>USA</country>\r\n    <company>RCA</company>\r\n
        \   <price>9.90</price>\r\n    <year>1982</year>\r\n  </cd>\r\n  <cd>\r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.w3schools.com/xml/cdcatalog.xsl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsl:stylesheet version=\"1.0\"
        xmlns:xsl=\"http://www.w3.org/1999/XSL/Transform\">\r\n<xsl:template match=\"/\">\r\n<html>
        \r\n<body>\r\n  <h2>My CD Collection</h2>\r\n  <table border=\"1\">\r\n    <tr
        bgcolor=\"#9acd32\">\r\n      <th style=\"text-align:left\">Title</th>\r\n
        \     <th style=\"text-align:left\">Artist</th>\r\n    </tr>\r\n    <xsl:for-each
        select=\"catalog/cd\">\r\n    <tr>\r\n      <td><xsl:value-of select=\"title\"/></td>\r\n
        \     <td><xsl:value-of select=\"artist\"/></td>\r\n    </tr>\r\n    </xsl:for-each>\r\n
        \ </table>\r\n</body>\r\n</html>\r\n</xsl:template>\r\n</xsl:stylesheet>"
    headers:
      Content-Type:
      - text/xml
      Etag:
      - '"958abc24413ed21:0"'
      Last-Modified:
      - Mon, 14 Nov 2016 06:34:25 GMT
    status:
      code: 200
      message: OK
version: 1
