interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.w3schools.com/xml/books.xml
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<bookstore>\r\n\r\n<book
        category=\"cooking\">\r\n  <title lang=\"en\">Everyday Italian</title>\r\n
        \ <author>Giada De Laurentiis</author>\r\n  <year>2005</year>\r\n  <price>30.00</price>\r\n</book>\r\n\r\n<book
        category=\"children\">\r\n  <title lang=\"en\">Harry Potter</title>\r\n  <author>J
        K. Rowling</author>\r\n  <year>2005</year>\r\n  <price>29.99</price>\r\n</book>\r\n\r\n<book
        category=\"web\">\r\n  <title lang=\"en\">XQuery Kick Start</title>\r\n  <author>James
        McGovern</author>\r\n  <author>Per Bothner</author>\r\n  <author>Kurt Cagle</author>\r\n
        \ <author>James Linn</author>\r\n  <author>Vaidyanathan Nagarajan</author>\r\n
        \ <year>2003</year>\r\n  <price>49.99</price>\r\n</book>\r\n\r\n<book category=\"web\"
        cover=\"paperback\">\r\n  <title lang=\"en\">Learning XML</title>\r\n  <author>Erik
        T. Ray</author>\r\n  <year>2003</year>\r\n  <price>39.95</price>\r\n</book>\r\n\r\n</bookstore>"
    headers:
      Content-Type:
      - text/xml
      Etag:
      - '"f5fa18a35c25d21:0"'
      Last-Modified:
      - Thu, 13 Oct 2016 14:18:15 GMT
    status:
      code: 200
      message: OK
version: 1
