interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://docs.python.org/2/
  response:
    body:
      string: "\n<!DOCTYPE html>\n\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n
        \ <head>\n    <meta charset=\"utf-8\" /><title>Python 2.7.18 documentation</title>\n
        \   <link rel=\"stylesheet\" href=\"_static/classic.css\" type=\"text/css\"
        />\n    <link rel=\"stylesheet\" href=\"_static/pygments.css\" type=\"text/css\"
        />\n    \n    <script type=\"text/javascript\" id=\"documentation_options\"
        data-url_root=\"./\" src=\"_static/documentation_options.js\"></script>\n
        \   <script type=\"text/javascript\" src=\"_static/jquery.js\"></script>\n
        \   <script type=\"text/javascript\" src=\"_static/underscore.js\"></script>\n
        \   <script type=\"text/javascript\" src=\"_static/doctools.js\"></script>\n
        \   <script type=\"text/javascript\" src=\"_static/language_data.js\"></script>\n
        \   \n    <[...]
