interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/pandas-dev/pandas/issues?per_page=5
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/pandas-dev/pandas/issues/40407","repository_url":"https://api.github.com/repos/pandas-dev/pandas","labels_url":"https://api.github.com/repos/pandas-dev/pandas/issues/40407/labels{/name}","comments_url":"https://api.github.com/repos/pandas-dev/pandas/issues/40407/comments","events_url":"https://api.github.com/repos/pandas-dev/pandas/issues/40407/events","html_url":"https://github.com/pandas-dev/pandas/pull/40407","id":830406616,"node_id":"MDExOlB1bGxSZXF1ZXN0NTkxOTIyMzI4","number":40407,"title":"DOC:
        remove pin for pydata-sphinx-theme + update for latest release","user":{"login":"jorisvandenbossche","id":1020496,"node_id":"MDQ6VXNlcjEwMjA0OTY=","avatar_url":"https://avatars.githubusercontent.com/u/1020496?v=4","gravatar_id":"","url":"https://api.github.com/users/jorisvandenbossche","html_url":"https://github.com/jorisvandenbossche","followers_url":"https://api.github.com/users/jorisvandenbossche/followers","following_url":"https://api.github.com/users/jorisvandenbossche/following{/other_user}","gists_url":"https://api.github.com/users/jorisvandenbossche/gists{/gist_id}","starred_url":"https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jorisvandenbossche/subscriptions","organizations_url":"https://api.github.com/users/jorisvandenbossche/orgs","repos_url":"https://api.github.com/users/jorisvandenbossche/repos","events_url":"https://api.github.com/users/jorisvandenbossche/events{/privacy}","received_events_url":"https://api.github.com/users/jorisvandenbossche/received_events","type":"User","site_admin":false},"labels":[{"id":134699,"node_id":"MDU6TGFiZWwxMzQ2OTk=","url":"https://api.github.com/repos/pandas-dev/pandas/labels/Docs","name":"Docs","color":"3465A4","default":false,"description":null}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2021-03-12T20:00:01Z","updated_at":"2021-03-12T20:00:09Z","closed_at":null,"author_association":"MEMBER","active_lock_reason":null,"pull_request":{"url":"https://api.github.com/repos/pandas-dev/pandas/pulls/40407","html_url":"https://github.com/pandas-dev/pandas/pull/40407","diff_url":"https://github.com/pandas-dev/pandas/pull/40407.diff","patch_url":"https://github.com/pandas-dev/pandas/pull/40407.patch"},"body":"No
        longer pinning since the bug with the mobile dropdown has been fixed + update
        the variable for changes in the last release.\r\n","performed_via_github_app":null},{"url":"https://api.github.com/repos/pandas-dev/pandas/issues/40406","repository_url":"https://api.github.com/repos/pandas-dev/pandas","labels_url":"https://api.github.com/repos/pandas-dev/pandas/issues/40406/labels{/name}","comments_url":"https://api.github.com/repos/pandas-dev/pandas/issues/40406/comments","events_url":"https://api.github.com/repos/pandas-dev/pandas/issues/40406/events","html_url":"https://github.com/pandas-dev/pandas/pull/40406","id":830372765,"node_id":"MDExOlB1bGxSZXF[...]
