body {
    padding-top: 5em;
    padding-bottom: 3em;
}
code {
    white-space: pre;
}
a.navbar-brand img {
    max-height: 2em;
}
div.card {
    margin-bottom: 1em !important;
}
.carousel-caption {
    color: black;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    position: relative;
    right: 100px;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    position: relative;
    left: 100px;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, .5);
}
.carousel-indicators li.active {
    background-color: black;
}
.juniper-output pre {
    color: #eee !important;
}
