{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section class="jumbotron text-center">
                    <h1>pandas</h1>
                    <p>
                        <strong>pandas</strong> is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,<br/>
                        built on top of the <a href="http://www.python.org">Python</a> programming language.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{{ base_url }}/getting_started.html">Install pandas now!</a>
                    </p>
                </section>

                <div class="row">
                    <div class="col-md-4">
                        <h5>Getting started</h5>
                        <ul>
                            <!-- <li><a href="{{ base_url }}/try.html">Try pandas online</a></li> -->
                            <li><a href="{{ base_url }}/getting_started.html">Install pandas</a></li>
                            <li><a href="{{ base_url }}/docs/getting_started/index.html">Getting started</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Documentation</h5>
                        <ul>
                            <li><a href="{{ base_url }}/docs/user_guide/index.html">User guide</a></li>
                            <li><a href="{{ base_url }}/docs/reference/index.html">API reference</a></li>
                            <li><a href="{{ base_url }}/docs/development/index.html">Contributing to pandas</a></li>
                            <li><a href="{{ base_url }}/docs/whatsnew/index.html">Release notes</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Community</h5>
                        <ul>
                            <li><a href="{{ base_url }}/community/about.html">About pandas</a></li>
                            <li><a href="https://stackoverflow.com/questions/tagged/pandas">Ask a question</a></li>
                            <li><a href="{{ base_url }}/community/ecosystem.html">Ecosystem</a></li>
                        </ul>
                    </div>
                </div>
                <section>
                    <h5>With the support of:</h5>
                    <div class="row h-100">
                        {% for company in partners.active %}
                            <div class="col-sm-6 col-md-2 my-auto">
                                <a href="{{ company.url }}" target="_blank">
                                    <img class="img-fluid" alt="{{ company.name }}" src="{{ base_url }}{{ company.logo }}"/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                {% if releases %}
                    <h4>Latest version: {{ releases[0].name }}</h4>
                    <ul>
                        <li><a href="docs/whatsnew/v0.25.0.html">What's new in {{ releases[0].name }}</a></li>
                        <li>Release date:<br/>{{ releases[0].published.strftime("%b %d, %Y") }}</li>
                        <li><a href="{{ base_url}}/docs/">Documentation (web)</a></li>
                        <li><a href="{{ base_url }}/docs/pandas.pdf">Documentation (pdf)</a></li>
                        <li><a href="{{ releases[0].url }}">Download source code</a></li>
                    </ul>
                {% endif %}
                <h4>Follow us</h4>
                <div class="text-center">
                    <p>
                        <a href="https://twitter.com/pandas_dev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @pandas_dev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </p>
                </div>
				<h4>Get the book</h4>
				<p class="book">
					<a href="https://amzn.to/2KI5JJw">
						<img class="img-fluid" alt="Python for Data Analysis" src="{{ base_url }}/static/img/pydata_book.gif"/>
					</a>
				</p>
                {% if releases[1:5] %}
                    <h4>Previous versions</h4>
                    <ul>
                        {% for release in releases[1:5] %}
                            <li class="small">
                                {{ release.name }} ({{ release.published.strftime("%b %d, %Y") }})<br/>
                                <a href="https://pandas.pydata.org/pandas-docs/stable/whatsnew/{{ release.tag }}.html">changelog</a> |
                                <a href="https://pandas.pydata.org/pandas-docs/version/{{ release.name }}/">docs</a> |
                                <a href="https://pandas.pydata.org/pandas-docs/version/{{ release.name }}/pandas.pdf">pdf</a> |
                                <a href="{{ release.url }}">code</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if releases[5:] %}
                    <p class="text-center">
                        <a data-toggle="collapse" href="#show-more-releases" role="button" aria-expanded="false" aria-controls="show-more-releases">Show more</a>
                    </p>
                    <ul id="show-more-releases" class="collapse">
                        {% for release in releases[5:] %}
                            <li class="small">
                                {{ release.name }} ({{ release.published.strftime("%Y-%m-%d") }})<br/>
                                <a href="https://pandas.pydata.org/pandas-docs/stable/whatsnew/{{ release.tag }}.html">changelog</a> |
                                <a href="https://pandas.pydata.org/pandas-docs/version/{{ release.name }}/">docs</a> |
                                <a href="https://pandas.pydata.org/pandas-docs/version/{{ release.name }}/pandas.pdf">pdf</a> |
                                <a href="{{ release.url }}">code</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
