python-dateutil
pytz
openpyxl
xlsxwriter
xlrd
xlwt
patsy
numpy
cython
scipy
numexpr
pytables
html5lib
lxml

# currently causing some warnings
#sqlalchemy
#pymysql
#psycopg2

# not available from conda
#beautiful-soup
#bottleneck
#matplotlib
