python-dateutil
pytz
openpyxl
xlsxwriter
xlrd
html5lib==1.0b2
numpy==1.8.0
cython==0.20.0
scipy==0.13.3
numexpr==2.3
tables==3.1.0
bottleneck==0.8.0
matplotlib==1.3.1
patsy
lxml==3.2.1
sqlalchemy==0.9.3
pymysql==0.6.1
psycopg2==2.5.2
beautifulsoup4==4.2.1
