python-dateutil==2.2
pytz==2013b
openpyxl==1.6.2
xlsxwriter==0.4.6
xlrd==0.9.2
html5lib==1.0b2
numpy==1.8.0
cython==0.19.1
numexpr==2.3
tables==3.1.0
bottleneck==0.8.0
matplotlib==1.2.1
patsy==0.1.0
sqlalchemy==0.9.1
pymysql==0.6.1
psycopg2==2.5.2
lxml==3.2.1
scipy==0.13.3
beautifulsoup4==4.2.1
statsmodels==0.5.0
