pytest
pytest-cov
pytest-xdist
flake8
sphinx=1.5*
nbsphinx
ipython
python-dateutil
pytz
openpyxl
xlsxwriter
xlrd
xlwt
html5lib
patsy
beautiful-soup
numpy
cython
scipy
numexpr
pytables
matplotlib
seaborn
lxml
sqlalchemy
bottleneck
pymysql
Jinja2
