beautifulsoup4>=4.2.1
blosc
bottleneck
fastparquet
feather-format
html5lib
ipython>=5.6.0
ipykernel
jinja2
lxml
matplotlib
nbsphinx
numexpr
openpyxl=2.5.5
pyarrow
pymysql
pytables
pytest-cov
pytest-xdist
s3fs
scipy
seaborn
sqlalchemy
xarray
xlrd
xlsxwriter
xlwt
