numpy==1.6.1
cython==0.19.1
python-dateutil==1.5
pytz==2013b
http://www.crummy.com/software/BeautifulSoup/bs4/download/4.2/beautifulsoup4-4.2.0.tar.gz
html5lib==1.0b2
bigquery==2.0.17
numexpr==1.4.2
sqlalchemy==0.8.1
scipy==0.11.0
statsmodels==0.4.3
xlwt==0.7.5
openpyxl==2.0.3
xlsxwriter==0.4.6
xlrd==0.9.2
