python-dateutil
pytz
numpy
cython
matplotlib
scipy
patsy
statsmodels
xlwt
openpyxl
xlsxwriter
xlrd
numexpr
pytables
sqlalchemy
lxml
boto
bottleneck
psycopg2
pymysql
html5lib
beautiful-soup
python-gflags
