python-dateutil==2.1
pytz==2013b
xlwt==0.7.5
numpy==1.7.1
cython==0.19.1
bottleneck==0.6.0
numexpr==2.1
tables==2.3.1
matplotlib==1.1.1
openpyxl==1.6.2
xlsxwriter==0.4.3
xlrd==0.9.2
patsy==0.1.0
html5lib==1.0b2
lxml==3.2.1
scikits.timeseries==0.91.3
MySQL-python==1.2.4
scipy==0.10.0
beautifulsoup4==4.2.1
statsmodels==0.5.0
bigquery==2.0.15
