name: Deprecations Bot

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  deprecation_update:
    permissions:
      issues: write
    if: >-
      contains(github.event.pull_request.labels.*.name, 'Deprecate')
    runs-on: ubuntu-22.04
    env:
      DEPRECATION_TRACKER_ISSUE: 50578
    steps:
    - name: Checkout
      run: |
        echo "Adding deprecation PR number to deprecation tracking issue"
        export PR=${{ github.event.pull_request.number }}
        BODY=$(curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }}/issues/${DEPRECATION_TRACKER_ISSUE} |
          python3 -c "import sys, json, os; x = {'body': json.load(sys.stdin)['body']}; pr = os.environ['PR']; x['body'] += f'\n- [ ] #{pr}'; print(json.dumps(x))")
        echo ${BODY}
        echo "https://api.github.com/repos/${{ github.repository }}/issues/${DEPRECATION_TRACKER_ISSUE}"
        curl -L -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -X PATCH -d "${BODY}" https://api.github.com/repos/${{ github.repository }}/issues/${DEPRECATION_TRACKER_ISSUE}
