name: Package Checks

on:
  push:
    branches:
      - main
      - 2.2.x
  pull_request:
    branches:
      - main
      - 2.2.x
    types: [ labeled, opened, synchronize, reopened ]

permissions:
  contents: read

defaults:
  run:
    shell: bash -el {0}

jobs:
  pip:
    if: ${{ github.event.label.name == 'Build' || contains(github.event.pull_request.labels.*.name, 'Build') || github.event_name == 'push'}}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        extra: ["test", "pyarrow", "performance", "computation", "fss", "aws", "gcp", "excel", "parquet", "feather", "hdf5", "spss", "postgresql", "mysql", "sql-other", "html", "xml", "plot", "output-formatting", "clipboard", "compression", "all"]
      fail-fast: false
    name: Install Extras - ${{ matrix.extra }}
    concurrency:
      # https://github.community/t/concurrecy-not-work-for-push/183068/7
      group: ${{ github.event_name == 'push' && github.run_number || github.ref }}-pip-extras-${{ matrix.extra }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        id: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Pip install with extra
        run: |
          python -m pip install .[${{ matrix.extra }}] -v
        shell: bash -el {0}
  conda_forge_recipe:
    if: ${{ github.event.label.name == 'Build' || contains(github.event.pull_request.labels.*.name, 'Build') || github.event_name == 'push'}}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']
      fail-fast: false
    name: Test Conda Forge Recipe - Python ${{ matrix.python-version }}
    concurrency:
      # https://github.community/t/concurrecy-not-work-for-push/183068/7
      group: ${{ github.event_name == 'push' && github.run_number || github.ref }}-conda-forge-recipe-${{ matrix.python-version }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: recipe-test
          create-args: >-
            python=${{ matrix.python-version }}
            boa
            conda-verify
          cache-downloads: true
          cache-environment: true

      - name: Build conda package
        run: conda mambabuild ci --no-anaconda-upload --verify --strict-verify --output --output-folder .
