name: sdist

on:
  push:
    branches:
      - master
      - 1.3.x
  pull_request:
    branches:
      - master
      - 1.3.x
    paths-ignore:
      - "doc/**"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    concurrency:
      group: ${{github.ref}}-${{matrix.python-version}}-sdist
      cancel-in-progress: ${{github.event_name == 'pull_request'}}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel

        # GH 39416
        pip install numpy

    - name: Build pandas sdist
      run: |
        pip list
        python setup.py sdist --formats=gztar

    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: pandas-sdist
        python-version: '${{ matrix.python-version }}'

    - name: Install pandas from sdist
      run: |
        pip list
        python -m pip install dist/*.gz

    - name: Force oldest supported NumPy
      run: |
        case "${{matrix.python-version}}" in
        3.7)
          pip install numpy==1.17.3 ;;
        3.8)
          pip install numpy==1.18.5 ;;
        3.9)
          pip install numpy==1.19.3 ;;
        3.10)
          pip install numpy==1.21.2 ;;
        esac

    - name: Import pandas
      run: |
        cd ..
        conda list
        python -c "import pandas; pandas.show_versions();"
